body {
	background-color: #0a0a0a;
}

p, label {
  color: #ede9bd;
}

#site-nav ul {
  padding: 0;
  list-style-type: none;
}

.site-nav-button-text {
  text-align: center;
}

.site-header {
  text-align: center;
  color: #bc2020;
}

.contact-header {
  text-align: center;
  color: #bc6e20;
}

.contact-dialogue {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border: solid 1px #bc6e20;
}

.short-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.contact-form-item input {
  font-size: 16px;
  height: 1.75rem;
}

.contact-submit-btn {
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-width: 2px;
  border-radius: 0.25rem;
  color:#bc2020;
  background-color: #0a0a0a;
  border-color: #bc2020;
}
