body {
	background-color: #131313;
}

p, label {
  color: #ede9bd;
}

a:link, a:visited {
  color: #ffea00;
}

.site-nav {
  padding: 0;
  list-style-type: none;
}

.site-nav-button-text {
  text-align: center;
}

.site-header {
  font-family: "Rye", cursive;
  text-align: center;
  color: #bc2020;
}

.contact-header {
  text-align: center;
  color: #bc6e20;
}

.contact-dialogue {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  background-color: #111111;
  border: solid 1px #bc6e20;
  border-radius: 0.25rem;
}

.contact-form-fields {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.contact-form-input {
  font-size: 16px;
  min-height: 1.75rem;
  border: solid 1px #ede9bd;
  border-radius: 0.25rem;
  color: #ede9bd;
  background-color: #0a0a0a;
}

.big-input {
  min-height: 7rem;
}

.contact-submit-btn {
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-width: 2px;
  border-radius: 0.25rem;
  color:#bc2020;
  background-color: #0a0a0a;
  border-color: #bc2020;
}
