body {
	background-color: #131313;
}

p, label {
  color: #ede9bd;
}

.serif {
  font-family: "Georgia", serif;
}

a:link, a:visited {
  color: #ffea00;
}

.site-nav {
  padding: 0;
  list-style-type: none;
}

.site-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .85rem;
  font-family: "Rye", cursive;
  text-align: center;
  color: #bc2020;
}

.site-header a {
  color: inherit;
  text-decoration: inherit;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 2rem;
  min-height: 2rem;
}

.line {
  min-width: 2.5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: #ede9bd;
}

.copyright {
  text-align: center;
}

.section-header {
  text-align: center;
  color: #bc6e20;
}

.contact-dialogue {
  text-align: center;
}

/**************
  Contact Form
 **************/

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto 0.5rem;
  padding:  1.5rem 1rem;
  background-color: #111111;
  border: solid 2px #bc6e20;
  border-radius: 0.25rem;
}

.contact-form label {
  align-self: left;
}

.contact-form-input {
  font-size: 16px;
  min-height: 1.75rem;
  margin-bottom: 1rem;
  border: solid 1px #ede9bd;
  border-radius: 0.25rem;
  color: #ede9bd;
  background-color: #0a0a0a;
}

.contact-submit-btn {
  align-self: center;
  font-size: 16px;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-width: 2px;
  border-radius: 0.25rem;
  color:#bc2020;
  background-color: #0a0a0a;
  border-color: #bc2020;
}
